
#censusgeo {
  polygon-fill: #DDDDDD;
  line-width: .1;
  line-color: #444444;
  polygon-opacity: 0;
  line-opacity: 0;
  [measure <= 1.0] {
    polygon-fill: #2CA25F;
  }
 [ measure <= 100000000.00 ] { polygon-fill: rgb(0,44,109)}
 [ measure <= 35000.00 ] { polygon-fill: rgb(44,95,162)}
 [ measure <= 30000.00 ] { polygon-fill: rgb(102,164,194)}
 [ measure <= 25000.00 ] { polygon-fill: rgb(178,226,226)}
 [ measure <= 20000.00 ] { polygon-fill: rgb(237,251,248)}
  [zoom <= 4][geotype = 'state'] {
    polygon-opacity: 0.9;
    line-opacity: 1;
  }
  [zoom > 4][zoom <= 7][geotype = 'county'] {
    polygon-opacity: 0.8;
    line-opacity: 1;
  }
  [zoom > 7][geotype = 'tract'] {
    polygon-opacity: 0.7;
    line-opacity: 1;
  }
}


