    <header>
        <div id="navbar">
          <span id="logo_link">
            <a id='homeLink' href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo_small.png') }}" border="0" alt="CensusMapper"></a>
          </span>
          <span id="login_links">
            {%- if username -%}
              <p class="linktext">Logged in as <a class="userlinktext" href="{{ url_for('home') }}">{{ username }}</a></p>
            {%- else -%}
              <a class="linktext create-window" href="#create">Create account</a>
              |
              <a class="linktext login-window" href="#login">Login</a>
            {%- endif -%}
          </span>
        </div>
        <div id="titlebar">
          {%- if mapname -%}
            <span><a id="titletext">{{ mapname }}</a></span>
            <span id="action_buttons"></span>
          {%- endif -%}
        </div>
    </header>
