    <header>
        <div id="navbar">
          <span id="logo_link">
            <a id='homeLink' href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo_small.png') }}" border="0" alt="CensusMapper"></a>
          </span>
          <span id="login_links">      
            <a class="linktext" href="{{ url_for('create_user') }}">Create account</a>
            |
            <a class="linktext" href="{{ url_for('login') }}">Login</a>
          </span>
        </div>
        <div id="titlebar">
          {%- if mapname -%}
            <span><a id="titletext">{{ mapname }}</a></span>
            <span id="action_buttons"></span>
          {%- endif -%}
        </div>
    </header>
