    <header>
        <div id="navbar">
          {%- if not home -%}
          <span id="logo_link">
            <a id='home_link' href="{{ url_for('home') }}">CensusMapper</a>
          </span>
          {%- endif -%}
          <span id="login_links">
            {%- if session.username -%}
              <a class="userlinktext" href="/profile">{{ session.username }}</a>

              <a class="logoutlinktext" href="/logout">Logout</a></p>
            {%- else -%}
              <a class="linktext create-window" href="#create">Create account</a>
              |
              <a class="linktext login-window" href="#login">Login</a>
            {%- endif -%}
          </span>
        </div>
        <div id="titlebar">
          {%- if mapname -%}
            <span id="titletext">{{ mapname }}</span>
            <span id="action_buttons">
              <span class="button small linkaction save-window">Save</span>
              <span class="button small linkaction export-window" href="/export">Export</span>
              <span class="button small linkaction share-window" href="/share">Share</span>
            </span>
          {%- endif -%}
        </div>
    </header>
    <div id="mask"></div>
    <div id="mask2"></div>
