<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_control.css') }}">
    <style type="text/css">header {height: 24px;}</style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">\x3C/script>')</script>

    <title>CensusMapper</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'user_control.html' %}
    <div id="maincontent">
      <div id="maintitle">CensusMapper</div>
      <div id="motd">
        <div id="motd-title">Map of the Day: Unemployment by County</div>
        <img id="motd-map" src="{{url_for('static', filename='map_of_the_day_test.png') }}">
      </div>
      <p>&nbsp;</p>
      <div id="maplinks">
        <a id="tutorial" class="button" href="{{ url_for('tutorial') }}">Get Started With a Tour</a>
        <a id="direct_to_map" class="linkref" href="{{ url_for('map') }}">or go directly to the map</a>
      </div>
      <p>&nbsp;</p>
    </div>
    

  </body>
    
</html>
