<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Home Page</title>
  </head>
  <body>
    {% include 'header.html' %}
    
    <div id="maincontent">
      <h1 id="title" align="center">Welcome to CensusMapper!</h1>
      <img src="{{url_for('static', filename='map_of_the_day_test.jpg') }}" id="map_of_the_day">
      <a id="GetStarted" href="{{ url_for('map') }}">Get Started</a>
    </div>
    

  </body>
    
</html>
