<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Login Page</title>
  </head>
  <body>
    <h1 align = 'center'>Login</h1>
    <a href="{{ url_for('home') }}">Home</a>

    <p>Your Username or Password did not match. Please try again.</p>
        <div class="links">
                    <form method="POST" action="login" name="thisForm">
                    <div>
                            <label for="login_name">Enter your user name:</label>
                            <br><br>
                        <input type="text" id="login_name" name="login_name" style="width:20%">
                        <br>
                    </div>
                    <br><br>
                    <div>
                            <label for="login_password">Enter your password:</label>
                            <br><br>
                        <input type="text" id="login_password" name="login_password" style="width:20%">
                    </div>
                    <br><br> 
                    <input type="submit" value="Submit">
                </form>
        </div>
  </body>
</html>