<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Login Page</title>
  </head>
  <body>

    <header>
        <div id="navbar">
            CensusMapper
        </div>

    <div id="titlebar">
      <a id='homeLink' href="{{ url_for('home') }}">Home</a>
    </div>
    <hr/>
    </header>

    <h1 align = 'center'>Login</h1>

        <div class="links">
                    <form method="POST" action="login" name="thisForm">
                    <div>
                            <label for="login_name">User name</label>
                        <input type="text" id="login_name" name="login_name" style="width:20%">
                        <br>
                    </div>
                    <br><br>
                    <div>
                            <label for="login_password">Password</label>
                        <input type="password" id="login_password" name="login_password" style="width:20%">
                    </div>
                    <input type="submit" value="Submit">
                </form>
        </div>
  </body>
</html>