<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrapPljIQ5AB6-ecF_yROkg-XgbdR4xfg&sensor=false"></script>
    <script type="text/javascript" src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.uncompressed.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
  </head>
  <body>
    <header>
      <div id="navbar">
          <span id="logo_link">
            <a id='homeLink' href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='logo_small.png') }}" border="0" alt="CensusMapper"></a>
          </span>
          <span id="login_links">
            <a class="linktext" href="{{ url_for('create_user') }}">Create account</a>
            |
            <a class="linktext" href="{{ url_for('login') }}">Login</a>
          </span>
      </div>
      <div id="titlebar">
        <a href="#" style="text-align:left" id="adddata">Add data</a>
      </div>
    </header>
    
    <div id="map" />
    
    <script type="text/javascript">
      var map = main();
      google.maps.event.addDomListener(window, 'load', map);
      
      $(document).ready(function() {
        $('#adddata').bind('click', function() {
          $.getJSON($SCRIPT_ROOT + '/_add_layer', {
          }, function(data) {
            var sqlquery = data.sqlquery;
            var cartocss = data.cartocss;
            add_tiles(map, sqlquery, cartocss);
          });
          return false;
        });
      });
      
      adjust_height();
      window.onresize = adjust_height;
    </script>
  
  </body>
  
</html>

