<!DOCTYPE html>
<html>
  <head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_control.css') }}">
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>
    <script>window.jQuery || document.write('<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBrapPljIQ5AB6-ecF_yROkg-XgbdR4xfg&sensor=false"></script>
    <script type="text/javascript" src="http://libs.cartocdn.com/cartodb.js/v3/cartodb.uncompressed.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
    
    <title>CensusMapper - {{ mapname }}</title>
  </head>
  
  <body>
    {% include 'header.html' %}
    {% include 'user_control.html' %}
    
    <input id="pac-input" class="search-box" type="text" placeholder="Search for a place">
    <div id="map" />
    
    <script type="text/javascript">
      var map = main({{ zoom }}, {{ centerlat }}, {{ centerlong }});
      google.maps.event.addDomListener(window, 'load', map);
      
      $(document).ready(function() {
        
        // show list of individual census measures when a particular category is clicked
        $('.censuscategory').live('click', function() {
          $.getJSON('/_get_measures', {
            categoryid: $(this).attr("id")
          }, function(data) {
            $( "#censuscategories" ).fadeOut(20, function() {
              $( "#censusmeasures" ).fadeIn(20);
            });
            $( "#censusmeasures" ).empty();
            $( "#censusmeasures" ).append("<fieldset>");
            $.each(data.measures, function(index, value) {
              var share = "";
              if ( value[2] ) {
                share = "percentof";
              } else {
                share = "totalof"
              }
              $( "#censusmeasures" ).append("<div class='" + share + "''><input type='checkbox' class='censusmeasure' id='measure-"+ value[0] + "'>" + value[1] + "</div>")
            });
            $( "#censusmeasures" ).append("</fieldset>");
            $( "#censusmeasures" ).append("<p>&nbsp;</p><a href='#' id='backtocats'><- go back to categories</a>")
          });
          return false;
        });
        
        $("#backtocats").live('click', function(){
          $( "#censusmeasures" ).fadeOut(20, function() {
            $( "#censuscategories" ).fadeIn(20);
          });
        });
        
        // procedure to deselect all census layers
        function deselect_census() {
          $(".mainmenusubitem").css("font-weight", "lighter");
          var layer = layers[0];
          var sublayercount = 0;
          try {
            sublayercount = layer.getSubLayerCount();
          }
          catch(err) {
            console.log("no layers yet");
          }
          finally {
            for (var i = 0; i < sublayercount; i++) {
              var sublayer = layer.getSubLayer(i);
              sublayer.remove();
            };
          }
        };
        
        // procedure to render a single census layer
        function render_census_layer(layerid) {
          $.getJSON('/_render_layer', {
            layerid: layerid
          }, function(data) {
            deselect_census();
            var sqlquery = data.sqlquery;
            var cartocss = data.cartocss;
            var titletext = data.titletext;
            var colorarray = data.colors;
            var valuearray = data.bins;
            add_tiles(sqlquery, cartocss);
            add_legend(titletext, colorarray, valuearray);
            
            // add to main menu bar
            var layertextid = "layer-" + layerid;
            var layertextelement = document.getElementById(layertextid);
            if ( !layertextelement ) {
              $("#mainmenu").append("<a href='#' class='mainmenusubitem' id='" + layertextid + "'>" + titletext + "</a>");
            };
            $("#" + layertextid).css("font-weight", "bold");

            // update manage layers menu title
            $("#layerdesctitle").html(titletext);
            
            // set the current layerid as the one being shown
            $.getJSON('/_set_census_viz', {
              layerid: layerid
            });
          });
        };
        
        // render layers if passed to map
        var import_layers = {{ layers }};
        if ( import_layers ) {
          for (var i = 0; i < import_layers.length; i++) {
            render_census_layer(import_layers[i]);
          }
        };
        
        // render map tiles if measure is picked
        $('.censusmeasure').live('change', function() {
          if ($(this).is(':checked')) {
            $("#mask2").fadeIn(300);
            $("#mask2").append("<div id=\"waiting\"><img src=\"{{ url_for('static', filename='waiting.gif') }}\" title=\"waiting\" alt=\"waiting\" /></div>");
            $("#waiting").css({ 
                'position' : 'fixed',
                'top' : '50%',
                'left' : '50%',
                'margin' : '-75px 0 0 -105px'
            });
            $.getJSON('/_add_measure_layer', {
              measureid: $(this).attr("id")
            }, function(data) {
              var layerid = data.layerid;
              render_census_layer(layerid);
              $("#mask2").empty();
              $("#mask2").fadeOut(10);
            });
          } else {
            // remove layer and tiles if measure is deselected
            $.getJSON('/_remove_layer', {
              measureid: $(this).attr("id")
            }, function(data) {
              var layerid = data.layerid;
              var layertextid = "layer-" + layerid;
              var subitem = document.getElementById(layertextid);
              subitem.parentNode.removeChild(subitem);
              if (data.nextid) {
                render_census_layer(data.nextid);
              };
              if (data.remove_all) {
                deselect_census();
                remove_legend();
              }
            });
          }
          return false;
        });
        
        // save map variables to database
        function update_layer_info() {
          $.getJSON('/_update_layer_info', {
              zoomlevel: map.getZoom(),
              latlong: map.getCenter()
            });
        };

        // add or remove Google Maps markers depending on selection
        $('.gmapsradio').live('change', function() {
          var selected = $("input[type='radio'][name='gmapsplace']:checked");
          var keyword = selected.val();
          if (keyword == "nothing" ) {
            remove_gmaps_places();
          } else if (keyword == "other") {
            var custom_key = $("#gmapsplaceother").val();
            add_gmaps_places(map,custom_key);
          } else {
            add_gmaps_places(map,keyword);
          };
        });

        // render manage layers menu when menu element is clicked
        $('#managelayers').live('click', function() {
          // set title of manage layer menu
          $("#layerdescription").empty();
          $("#layerdescription").append("<div id='layerdesctitle'>" + {{ session.censusviztitle }} + "</div>")

          // add number of categories dropdown
          var container = document.getElementById('layerdescription');
          var formElement = document.createElement('form');
          container.appendChild(formElement);

          var formTitle = document.createElement('span');
          formTitle.setAttribute('class', 'layerdescsubtitle');
          formTitle.innerHTML = 'Number of categories: ';
          formElement.appendChild(formTitle);

          var selectList = document.createElement('select');
          selectList.setAttribute('id', 'numcatselect');
          formElement.appendChild(selectList);
          for (var i = 3; i < 10; i++) {
            var selectItem = document.createElement('option');
            selectItem.innerHTML = i;
            selectList.appendChild(selectItem);
          };

          // add color dropdown
          $.getJSON('/_get_colors', {}, function(data) {
            var colorlist = data.colorlist;
            var container = document.getElementById('layerdescription');
            var formElement = document.createElement('form');
            container.appendChild(formElement);
  
            var formTitle = document.createElement('span');
            formTitle.setAttribute('class', 'layerdescsubtitle');
            formTitle.innerHTML = 'Color scheme: ';
            formElement.appendChild(formTitle);
  
            var selectList = document.createElement('select');
            selectList.setAttribute('id', 'colorselect');
            formElement.appendChild(selectList);
            for (var i = 0; i < colorlist.length; i++) {
              var colorscheme = colorlist[i];
              var colorname = colorscheme.schemename;
              var colorarray = colorscheme.values;
              var selectItem = document.createElement('option');
              selectItem.innerHTML = colorname;
              selectList.appendChild(selectItem);
            };
          });
        });
       
        // update database when number of categories changes
        $("#numcatselect").live('change', function() {
          $.getJSON('/_update_layer', {
            numcats: $(this).val()
          }, function(data) {
            var layerid = data.layerid;
            render_census_layer(layerid);
          });
        });
        
        // update database when number of categories changes
        $("#colorselect").live('change', function() {
          $.getJSON('/_update_layer', {
            colorpick: $(this).val()
          }, function(data) {
            var layerid = data.layerid;
            render_census_layer(layerid);
          });
        });
        
        // switch visible layer based on main menu click
        $('.mainmenusubitem').live('click', function() {
          var layerid = $(this).attr("id").split("-")[1];
          render_census_layer(layerid);
        });
        
        // movement of the "manila folder" tab image for sliding panels
        $('#foldertab').click(function(){
          if($(this).hasClass('show')){
            $( "#foldertab, #mainmenu, .secondpanel" ).animate({
              left: "+=180"
              }, 300, function() {
                // Animation complete.
              });
            $(this).removeClass('show').addClass('pos1');    
          }
          else if ($(this).hasClass('pos1')){      
            $( "#foldertab, #mainmenu, .secondpanel" ).animate({
              left: "-=180"
              }, 300, function() {
                // Animation complete.
              });
            $(this).removeClass('pos1').addClass('show');    
          }
          else if ($(this).hasClass('pos2')){      
            $( "#foldertab, .secondpanel" ).animate({
              left: "-=400"
              }, 300, function() {
                $( "#censusmenu" ).css("left", "-220px");
                $( "#otherdatamenu" ).css("left", "-220px");
                $( "#managelayersmenu" ).css("left", "-220px");
                $( ".mainmenuitem" ).css("background-color", "rgb(248,245,225)");
                $( "#censusmenu, #otherdatamenu, #managelayersmenu" ).removeClass('show').addClass('hide');
              });
            $(this).removeClass('pos2').addClass('pos1');
          }
        });
        
        // two functions to manage the movement of the sliding panels themselves
        //
        // slide_out slides out panel with id currenttab when the element with id clickvar is clicked,
        //   while also hiding the panels with id's in the comma-separated string othertabs
        //
        // reset_tabs is a helper function that hides the other tabs, and moves the folder tab
        //   icon over if necessary
        var reset_tabs = function(othertabs) {
          if ($("#foldertab").hasClass('pos1')){
            $( "#foldertab" ).animate({
              left: "+=400"
              }, 300, function() {
                $("#foldertab").removeClass('pos1').addClass('pos2');
              });
          }
        };

        var slide_out = function(clickvar, currenttab, othertabs) {
          $(clickvar).click(function(){
            if ( $(currenttab).hasClass('hide') ) {
              $( currenttab ).animate({
                  left: "+=400"
                  }, 300, function() {
                    $( othertabs ).css("left", "-220px");
                    $( ".mainmenuitem" ).css("background-color", "rgb(248,245,225)");
                    $( clickvar ).css("background-color", "rgb(183,181,166)");
                    $( currenttab ).removeClass('hide').addClass('show');
                    $( othertabs ).removeClass('show').addClass('hide');
                  });
              reset_tabs(othertabs);
            }
          });
        };
        
        // calling slide_out for our three main panels
        slide_out('#findcensusdata', "#censusmenu", "#otherdatamenu, #managelayersmenu");
        slide_out('#addotherdata', "#otherdatamenu", "#censusmenu, #managelayersmenu");
        slide_out('#managelayers', "#managelayersmenu", "#censusmenu, #otherdatamenu");
        
      });
      
      adjust_height();
      window.onresize = adjust_height;
    </script>

    <div id="foldertab" class="show"><img src="{{ url_for('static', filename='folder_tab.png') }}" border="0" alt="folder tab"></div>
    <div id="mainmenu">
      <a href="#" class="mainmenuitem hide" id="findcensusdata">Find Census Data</a>
      <a href="#" class="mainmenuitem hide" id="addotherdata">Add Other Data</a>
      <a href="#" class="mainmenuitem hide" id="managelayers">Manage Layers</a>
    </div>
    
    <div id="censusmenu" class="secondpanel hide">
      <input id="census-search" class="search-box" type="text" placeholder="Search for Census data (this doesn't work)">
      <div id="censuscategories">
      {% for cat in categories %}
        <div id="category-{{ cat.categoryid }}" class="button censuscategory show">
          <span class="categorytext">{{ cat.category }}</span>
        </div>
      {% endfor %}
      </div>
      <form id="censusmeasures">
      </form>
    </div>
    
    <div id="otherdatamenu" class="secondpanel hide">
      <div id="gmapsplacesearch">
        <div id="findgmapstitle">Add places from a Google Maps search</div>
        <form>
          <fieldset>
            <input type="radio" name="gmapsplace" value="grocery store" class="gmapsradio">Grocery stores<br>
            <input type="radio" name="gmapsplace" value="banks" class="gmapsradio">Bank branches<br>
            <input type="radio" name="gmapsplace" value="transit" class="gmapsradio">Transit stops<br>
            <span>
              <input type="radio" name="gmapsplace" value="other" class="gmapsradio">Something else:&nbsp;
              <input type="text" id="gmapsplaceother" placeholder="Type here before selecting button">
            </span><br>
            <input type="radio" name="gmapsplace" value="nothing" class="gmapsradio">Nothing (clear markers)<br>
          </fieldset>
        </form>
      </div>
    </div>
  
    <div id="managelayersmenu" class="secondpanel hide">
      <div id="layerdescription">
        <div id="layerdesctitle">After you add layers, you can manage them here.</div>
      </div>
    </div>
  
  </body>
  
</html>

