<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_control.css') }}">
    <style type="text/css">header {height: 24px;}</style>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.2.min.js') }}"></script>

    <title>Profile Page</title>
  </head>

  <body>
    {% include 'header.html' %}

    <div id='maincontent' class='clearfix'>
        <div id='column1'>
            <h3 id='profilename'>{{ session.username }}</h3>
            <img id="profile_pic" src="{{url_for('static', filename='generic_user_image.jpg') }}"><br>
            <span id='mapcount'>Maps Created: {{mapcount}}</span><br>
            <a id='newmap' href={{ request.script_root + '/map' }}>Create New Map<a/>
        </div>
        <div id='column2'>
            <h3 id='about'>About:</h3>
            <p>
                I work at a small CBO based in San Fransisco.<br>
                I create maps related to poverty and access to public transit.<br>
                I also like to make maps tracking all of the trips I have taken and the stops I made just for fun.
            </p>
            <div id='mapcolumn'>
                <h3 id='mapcolumntitle'>Saved Maps</h3>
                <div id='mapimages' class='clearfix'>
                    <script type="text/javascript">
                        $(document).ready(function(){
                            var maplist = {{ mapnamelist|safe }};

                        for (var i = 0; i < maplist.length; i++) {
                            var mapname = maplist[i][0];
                            var mapid = maplist[i][1];
                            $('#mapimages').append("<span class='map_thumbnail'><a href={{ request.script_root + '/map?map=' }}" + mapid + "><img class= 'mappic' src=\"{{url_for('static', filename='generic_map_thumbnail.jpg') }}\"><br><a class='mapname' href={{ request.script_root + '/map?map=' }}" + mapid + ">" + mapname + "</a></span>");

                        };
                        });
                    </script>
                </div>
            </div>
            
        </div>
        

    </div>
    
  </body>
</html>