<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body {
        margin: 40px;
      }
      p {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 120%;
        font-weight: lighter;
        color: #555555;
        margin-bottom: 15px;
      }
      a {
        color: #222222;
      }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>CensusMapper - Tutorial</title>
  </head>
  <body>
    <div>
      <p>Oh dear, it appears we aren't quite ready for you.</p>
      <p>Perhaps you could try just <a href="{{ url_for('map') }}">making a map</a>?
         (Hint: click on the yellow tab on the left of the map.)
      </p>
    </div>
    

  </body>
    
</html>
