
    <div id="login" class="login-popup">
      <a href="#" class="close"><img src="{{ url_for('static', filename='close_button.png') }}" class="btn_close" title="Close Window" alt="Close" /></a>
      <h3>Login</h3>
      <p id="login_desc">Welcome back to CensusMapper!</p>
        <form method="post" class="signin" action="login">
          <input type="hidden" id="sourcepage"  name="sourcepage" value={{ request.path }} />
          <fieldset class="textbox">
            <label class="username">
              <span class="form_title">Username</span>
              <input id="login_name" name="login_name" value="" type="text" placeholder="Username">
            </label>
            <label class="password">
              <span class="form_title">Password</span>
              <input id="login_password" name="login_password" value="" type="password" placeholder="Password">
            </label>
          </fieldset>
          <input type="submit" class="submit_button" value="Sign In">
        </form>
      </div>

    <div id="create" class="create-popup">
      <a href="#" class="close"><img src="{{ url_for('static', filename='close_button.png') }}" class="btn_close" title="Close Window" alt="Close" /></a>
      <h3>Create Account</h3>
      <p id="create_desc">Please enter the following information to <br>make a new CensusMapper account.<br>All fields are required.</p>
        <form method="post" class="signin" action="create_user">
          <input type="hidden" id="sourcepage"  name="sourcepage" value={{ request.path }} />
          <fieldset class="textbox">
            <label class="username">
              <span class="form_title">Username</span>
              <input id="new_name" name="new_name" value="" type="text" placeholder="username">
            </label>
            <label class="email">
              <span class="form_title">Email address</span>
              <input id="new_email" name="new_email" value="" type="text" placeholder="email address">
            </label>
            <label class="password">
              <span class="form_title">Password</span>
              <input id="new_password1" name="new_password1" value="" type="password" placeholder="password">
            </label>
            <label class="password">
              <span class="form_title">Verify password</span>
              <input id="new_password2" name="new_password2" value="" type="password" placeholder="password">
            </label>
          </fieldset>
          <input type="submit" class="submit_button" value="Create Account">
        </form>
      </div>

      <div id='save' class='save-popup'>
        <a href='#' class='close'><img src="{{ url_for('static', filename='close_button.png') }}" class="btn_close" title="Close Window" alt="Close" /></a>
        <h3>Save Map</h3>
        {%- if session.username -%}
        <script type="text/javascript">
        </script>
        <p id='save_desc'>Enter a name for your map.</p>
          <form method='post' class='signin' action='save_map'>
            <input type="hidden" id="sourcepage"  name="sourcepage" value={{ request.path }} />
            <fieldset class='textbox'>
              <label class='title'>
                <span class="form_title">Map name</span>
                <input id='maptitle' name='maptitle' type='text' placeholder='Map name'>
              </label>
            </fieldset>
            <input type='submit' class='submit_button' value='Save'>
          </form>
        {%- else -%}
        <p id='save_fail'>You must be logged in to save a map.</p>
        {%- endif -%}
      </div>

      <div id='export' class='export-popup'>
        <a href='#' class='close'><img src="{{ url_for('static', filename='close_button.png') }}" class="btn_close" title="Close Window" alt="Close" /></a>
        <h3>Export Map</h3>
        <p id='export_desc'>Export your map.</p>
          <form method='post' class='signin' action='save_map'>
            <input type="hidden" id="sourcepage"  name="sourcepage" value={{ request.path }} />
            <fieldset class='textbox'>
              <label class='title'>
                <span class="form_title">Map Title</span>
                <input id='maptitle' name='maptitle' value='' type='text' placeholder='map title'>
              </label>
            </fieldset>
            <input type='submit' class='submit_button' value='Export'>
          </form>
      </div>

      <div id='share' class='share-popup'>
        <a href='#' class='close'><img src="{{ url_for('static', filename='close_button.png') }}" class="btn_close" title="Close Window" alt="Close" /></a>
        <h3>Share Your Map</h3>
          <form method='post' class='signin' action='save_map'>
            <input type="hidden" id="sourcepage"  name="sourcepage" value={{ request.path }} />
            <fieldset class='textbox'>
              <label class='title'>
                <span class="form_title">URL:</span>
                <input id='maptitle' name='maptitle' value='http://localhost:5000/map_share?map={{ session.mapid }}&user={{ session.userid }}' type='text'>
              </label>
            </fieldset>
          </form>
          <div id='social_icons'>
            <a class='icon' href=''><img src="{{ url_for('static', filename='Facebook.png') }}"></a>
            <a class='icon' href=''><img src="{{ url_for('static', filename='Twitter.png') }}"></a>
            <a class='icon' href=''><img src="{{ url_for('static', filename='Linkedin.png') }}"></a>
            <a class='icon' href=''><img src="{{ url_for('static', filename='Google_plus.png') }}"></a>
          </div>
      </div>


    <script type="text/javascript">
      $(document).ready(function() {
        $('#create-window, #login-window, #save-window, #export-window, #share-window').click(function() {
          
          //Getting the variable's value from a link 
          var loginBox = $(this).attr('href');
          
          //Fade in the Popup
          $(loginBox).fadeIn(300);
          
          //Set the center alignment padding + border see css style
          var popMargTop = ($(loginBox).height() + 24) / 2; 
          var popMargLeft = ($(loginBox).width() + 24) / 2; 
          
          $(loginBox).css({ 
              'margin-top' : -popMargTop,
              'margin-left' : -popMargLeft
          });
          
          // Add the mask to body
          $('#mask').fadeIn(300);
          
          return false;
          
        });
        
        // When clicking on the button close or the mask layer the popup closed
        $('a.close, #mask').live('click', function() { 
          $('#mask, .login-popup, .create-popup, .save-popup, .export-popup, .share-popup').fadeOut(300 , function() {
            $('#mask').remove();  
          }); 
          return false;
        });

      });
    </script>