/* Forms */
a:link {color: blue;}
a:visited {color: gray;}
a:hover, a:active { color: orange; } 

body {
    font-family: Helvetica, Arial, sans-serif;
}

header { 
    height: 40px; 
}

#navbar { height: 24px; 
    margin: 0; 
    background-color: #000000; 
    color: #FFFFFF; 
    padding-left: 25px; 
    padding-top: 3px; 
}

#homeLink:link,
#homeLink:visited {
    text-decoration: none;
    color: #FFFFFF;
}

div.form {
    padding-left: 25px;
}

div.form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

div.form input {
    width: 400px;
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #cccccc;
    padding: 2px;
    font-size: 1.1em;
}

div.CreateAccount {
    padding-left: 25px;
}

div.CreateAccount input {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 150px;
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #000000;
    padding: 3px;
    font-size: .9em;
    
}

div.form input#new_password,
div.form input#login_password {
    margin-bottom: 10px;
}

div.SignIn {
    padding-left: 25px
}

div.SignIn input {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    width: 100px;
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #000000;
    padding: 3px;
    font-size: .9em;
}