/* Create Account Form */
a:link {color: blue;}
a:visited {color: gray;}
a:hover, a:active { color: orange; } 

header { height: 40px; font-family: Helvetica, Arial, sans-serif; }

#navbar { height: 24px; margin: 0; background-color: #000000; color: #FFFFFF; padding-left: 25px; padding-top: 3px }

#titlebar { height: 16px; position: relative; padding-left: 25px; text-align: left; color: #777777; font-style: italic; font-weight: bold; }
#homeLink { position: absolute; top: 3px; }

form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    padding: 0px 0;
}

form input#new_name
form input#new_email
form input#new_password {
    width: 400px;
    background-color: #fafafa;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    padding: 5px;
    font-size: 1.1em;
}

form input#new_password {
    margin-bottom: 10px;
}