/* Create Account Form */
a:link {color: blue;}
a:visited {color: gray;}
a:hover, a:active { color: orange; } 

/*body {
    padding-left: 25px;
}*/

header { 
    height: 40px; 
    font-family: Helvetica, Arial, sans-serif; 
}

#navbar { height: 24px; 
    margin: 0; 
    background-color: #000000; 
    color: #FFFFFF; 
    padding-left: 25px; 
    padding-top: 3px; 
}

#titlebar { height: 16px; 
    position: relative; 
    padding-left: 25px; 
    text-align: left; 
    color: #777777; 
    font-weight: bold; 
}

#homeLink { 
    position: absolute; 
    top: 3px; 
}

div.form {
    padding-left: 25px;
}

div.form label {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

div.form input {
    width: 400px;
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #cccccc;
    padding: 2px;
    font-size: 1.1em;
}

div.CreateAccount {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding-left: 25px;
}

form input#new_password {
    margin-bottom: 10px;
}