html { height: 100% }

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F8F8F8;
    margin: 0;
    padding: 0;
}

#titlebar { 
    height: 0; 
    padding: 0; 
    margin: 0; 
}

#maincontent {
    text-align: center;
}

#map_of_the_day {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    border: 2px solid #cccccc;
}

#tutorial {
    font-weight: medium;
    font-size: 110%;
    display: block;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#direct_to_map {
    font-weight: lighter;
    font-size: 75%;
}

#direct_to_map:link,
#direct_to_map:visited {
    text-decoration: none;
}

#direct_to_map:hover,
#direct_to_map:active {
    color: rgb(241,119,103);
}
