html { height: 100% }

html { height: 100% }

body {
    font-family: Helvetica, Arial, sans-serif;
<<<<<<< HEAD
}

header { 
    height: 24px; 
}

#navbar { height: 24px;
    width: 100%; 
    margin: 0; 
    background-color: #000000; 
    color: #FFFFFF; 
    padding-left: 25px; 
    padding-top: 3px; 
}


.linktext {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: lighter;
    font-size: 90%;
}

#login_links {
    float: right;
    padding-right: 25px;
    padding-top: 3px;
    vertical-align: middle;

=======
    margin: 0;
    padding: 0;
>>>>>>> 124267d55a8af901fa3cc7dbfcfcdb787d55ca31
}

#map_of_the_day {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

#GetStarted {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    display: block;
    width: 100px;
    background-color: #fafafa;
    border-radius: 1px;
    border: 1px solid #000000;
    padding: 3px;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
}

#GetStarted:link,
#GetStarted:visited {
    text-decoration: none;
}

#GetStarted:hover,
#GetStarted:active {
    color: rgb(241,119,103);
}