p { margin: 0; padding: 0; }

html { height: 100% }

body { margin: 0; padding: 0; }

#titlebar { 
    height: 32px; 
    position: relative; 
    padding: 0; 
    color: #777777; 
    font-style: italic; 
    font-weight: lighter;
    font-size: 150%; 
    margin-left: auto;
    margin-right: auto;
}

#adddata { 
    position: absolute; 
    top: 5;
     }

#map { 
    margin: 0; 
    padding: 0;
}