h3 {
    text-align: center;
}

#create_desc, #login_desc, #save_desc, #export_desc, #share_desc {
    font-size: 80%;
    text-align: center;
}

.form_title {
    font-weight: bold;
}

#mask {
    display: none;
    background: #000000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 99900;
}

#mask2 {
    display: none;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: 99800;
}

.login-popup, .create-popup, .save-popup, .export-popup, .share-popup {
    display: none;
    background: #EEEEEE;
    padding: 10px;
    border: 2px solid #333333;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

img.btn_close {
    float: right;
    margin: -20px -20px 0 0;
}

fieldset {
    border: none;
}

form.signin .textbox label {
    display: block;
    padding-bottom: 5px;
}

form.signin .textbox span {
    display: block;
}

form.signin p, form.signin span {
    color: #222222;
    font-size: 70%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: auto;
}

form.signin .textbox input {
    background: #dddddd;
    border: 1px solid #333333;
    color: #000000;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font: Arial, Helvetica, sans-serif;
    font-size: 60%;
    padding: 6px;
    width: 200px;
}

#social_icons {
    display: block;
    text-align: center;
}

#url_share {
    text-overflow: clip;
}

.submit_button {
    font-family: Helvetica, Arial, sans-serif;
    background: #444444;
    background: -moz-linear-gradient(0% 100% 90deg, #666666, #444444);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#444444));
    background: -o-linear-gradient(top, #666666, #444444);
    border-width: 0;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    padding: 6px 8px 6px 8px;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    font-size: 90%;
    font-weight: lighter;
}
